.row
    .person
        .col-md-8
            img(src="/img/inform-img.jpg" alt="")
        .col-md-4

            .person-data__
                div
                    .person-data__title Tyrone Fairfield
                    .person-data__caption 2020 Board of Education, Southwest City Schools District, OH
                div
                    .person-data__date-title Election Day:
                    .person-data__date
                        strong Nov 2nd, 2020
                        span 26 days to go

            .person-amount
                .person-amount__price $25,324.56
                .person-amount__from from 25 donations
                .person-amount__percent-line
                .person-amount__percent-results
                    span Goal: $40,000
                    span 10 days to go

            .person-btns
                button.person-btns__donate Donate
                button.person-btns__follow + Follow
                button.person-btns__vlntr Volunteer